/* Invention.html styling*/
.invention-main .first-section,.browser-main .first-section
{
    margin-top: 20px;
}
.invention-section .col-8
{
    margin: 15px 0;
}
/* End of Invention.html styling */

/* browser_wars.html styling*/
.browser-main .browser-section .row
{
    margin: 30px 0;
}

.browser-main .sixth-section .col-lg-8
{
    margin-top: 20px;
}
/* browser_wars.html styling */

/* internet_search styling */
.search-main .search-section
{
    margin: 20px 0;
}

.search-section h4, .search-section .row
{
    margin-bottom: 15px;
}

@media (max-width: 800px)
{
    .search-section .row img
    {
        margin: 30px 0;
    }
}

/* Dot com bubble styling */
.dot-main .dot-section .row
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dot-main .dot-section .row h4
{
    margin-bottom: 15px;
}

/* About and Team content styling */
#content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding: 18px;
    margin-top: 20px;
}

